body {
  background-color: black;
  margin: 0;
  padding: 0;
}

/* ----------------- Header info: nav icon, title, ninja head -----------------*/
header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  height: 80vh;
  background-color: rgb(61, 224, 126);
}

#navIcon {
  width: 2rem;
  padding: 2rem;
}

header > h1 {
  text-align: center;
  padding: 2rem 2rem 0 2rem;
  font-family: sans-serif;
  font-size: 8rem;
}

#ninjaHead {
  height: 14rem;
}

/* ----------------- main information with picture and cart info -----------------*/
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 9rem 15% 0 15%;
  font-family: Arial, Helvetica, sans-serif;
}

/* Title */
#titleSection {
  display: flex;
  color: white;
  align-self: start;
}

#titleSection > h2 {
  font-size: 4rem;
  font-weight: 400;
}

/* Member pictures with info in section: picture, title, info  */
#photoSection {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
  width: 100%;
}

.photoInfo {
  display: flex;
  flex-direction: column;
  width: 30%;
  height: 30%;
  flex-grow: 1;
  color: black;
  background-color: white;
}

.photoInfo > h2 {
  padding: 1rem 0 0rem 0;
  margin: 2rem 1rem 0 2rem;
  overflow-wrap: break-word;
  font-size: 2.5rem;
  font-weight: 750;
}

.money {
  background-color: rgb(232, 63, 87);
  width: fit-content;
  padding: 1.5rem 2rem 1.5rem 2rem;
  margin: 2rem 0 1.5rem 2rem;
  border-radius: 5px;
  border-color: 1px solid rgb(232, 63, 87);
  color: white;
  font-size: 1rem;
}

#fotograf {
  margin-right: 3rem;
}

/*  cart section */
#cartSection {
  display: flex;
  flex-direction: column;
  width: 100%;
  color: white;
  margin: 7rem 0 12rem 0;
  justify-content: space-between;
}

#cartTitle {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
  font-size: 2rem;
  background-color: rgb(52, 8, 9);
  color: rgb(230, 230, 230);
  padding: 1rem 0 1rem 0;
  margin: 2rem 0 2rem 0;
}

.cartItem {
  display: flex;
  width: 100%;
  justify-content: space-between;
  font-size: 2.5rem;
  align-items: end;
}

.itemName {
  width: 30vw;
  border: 1px solid green;
  text-align: start;
}
.itemPieces {
  display: flex;
  width: 30vw;
  text-align: start;
}

hr {
  border: 1px solid white;
  width: 100%;
  margin: 2.5rem 0 3rem 0;
}

#total {
  display: flex;
  justify-content: space-between;
  color: white;
  font-size: 2.5rem;
}

#gimmiButtonSection {
  align-self: flex-end;
  margin-bottom: 11rem;
}

#gimmiButtonSection > button {
  background-color: rgb(232, 63, 87);
  color: white;
  font-size: 2.5rem;
  padding: 1rem 2rem 1rem 2rem;
  border-radius: 5px;
}

/* ----------------- Footer ----------------- */
footer {
  color: white;
  background-color: rgb(51, 51, 51);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2rem;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

#footerContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-grow: 1;
  padding: 2.5rem 8% 7% 5%;
}

.footerItem {
  display: flex;
  flex-direction: column;
}

#socialMediaItems {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 3rem;
}

.footerItem > span {
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.6;
  color: rgb(230, 230, 230);
}

#socialMediaItems > img {
  width: 3rem;
}
